.formacion{
    background-color: var(--2-color);
}

.formacion_titulo{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.formacion_lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.formacion_items>h3{
    display: flex;
    justify-content: center;
}
.formacion_items>p{
    display: flex;
    justify-content: center;
}
 
.formacion_img{
    display: flex;
    justify-content: center;
}