.menu {
    background-color: var(--2-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 7rem;
 }
 .menu__yo{
    font-size: var(--titulo);
     margin: 1rem 0;
 }
 
 .menu__elementos{
    margin: auto 0;
     display: flex;
     flex-direction: row;
 }
 
 .menu__items{
     margin: 1rem;
     display: inline;
 }